/node_modules
/public/hot
/public/storage
/public/avaters
/public/products
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/admin
/public/frontend
/public/products
/public/avaters
/public/js
/public/css
/public/*.xml
/public/mix-manifest.json